/*
 * Globals
 */

/* Fonts */
@font-face {
    font-family: Furore;
    src: url("../fonts/Furore.otf") format("opentype");
}


/* Base structure */
html,
body {
    min-height: 2000px;
    padding-top: 70px;
    background: #656565;
}

img#pnkLogo {
    height: 100%;
}

/*div.navigation {*/
    /*height: 50px;*/
    /*color: white;*/
/*}*/



/*div#bigImage {*/
    /*background-color: black;*/
    /*height: 500px;*/
/*}*/

/*div#fleetOps {*/
    /*background-color: blue;*/
    /*height: 300px;*/
    /*width: 250px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
/*}*/

/*div#carousel {*/
    /*background-color: #656565;*/
    /*height: 500px;*/
/*}*/

/*div#join {*/
    /*background-color: #FFE411;*/
    /*height: 500px;*/
/*}*/

/*div#footer {*/
    /*background-color: #656565;*/
    /*height: 50px;*/
/*} */
