/*
 * Globals
 */

/* Fonts */
@font-face {
    font-family: Metro;
    src: url("../fonts/Metro.otf") format("opentype");
}
@font-face {
    font-family: Metro;
    font-weight: bold;
    src: url("../fonts/Metro.otf") format("opentype");
}
@font-face {
    font-family: Furore;
    src: url("../fonts/Furore.otf") format("opentype");
}
@font-face {
    font-family: Furore;
    font-weight: bold;
    src: url("../fonts/Furore.otf") format("opentype");
}
@font-face {
    font-family: WebHostingHub-Glyphs;
    src: url("../fonts/webhostinghub-glyphs.ttf") format("opentype");
}
@font-face {
    font-family: WebHostingHub-Glyphs;
    font-weight: bold;
    src: url("../fonts/webhostinghub-glyphs.ttf") format("opentype");
}
@font-face {
    font-family: Sansation;
    src: url("../fonts/Sansation_Regular.ttf") format("opentype");
}
@font-face {
    font-family: Sansation;
    font-weight: bold;
    src: url("../fonts/Sansation_Regular.ttf") format("opentype");
}
@font-face {
    font-family: Sansation-Bold;
    src: url("../fonts/Sansation_Bold_Italic.ttf") format("opentype");
}
@font-face {
    font-family: Sansation-Bold;
    font-weight: bold;
    src: url("../fonts/Sansation_Bold_Italic.ttf") format("opentype");
}

/* Base structure */
html,
body {
    height: 100%;
    background: black;
    background: -webkit-linear-gradient(left, black , #1d1d1d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, #1d1d1d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, #1d1d1d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black , #1d1d1d); /* Standard syntax */
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
h1 {
    font-family: Metro, Helvetica, Verdana, Sans-Serif;
    text-shadow: 1px 1px 2px black, 0 0 25px #9D2737, 0 0 5px #9d0219;
}
h3 {
    text-align: center;
    font-family: WebHostingHub-Glyphs, Helvetica, Verdana, Sans-Serif;
}
h4 {
    font-family: Sansation-Bold, Helvetica, Verdana, Sans-Serif;
    font-size: 22px;
}

/* Header */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.masthead-nav > li {
    display: inline-block;
    width: 20%;
    padding-bottom: 12px;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
    font-family: Furore, Helvetica, Verdana, Sans-Serif;
    text-shadow: 1px 1px 2px black, 0 0 25px #9D2737, 0 0 5px #9d0219;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(157,39,55,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #9D2737;
}

/* Jumbotron */
.jumbotron-starfarer {
    background-image: url("../img/Starfarer.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: 80%;
    color: inherit;
    padding: 20px 0 20px 0;
    min-height: 200px;
    text-shadow: 0px 0px 3px #000;
}
.p-starfarer {
    font-family: Sansation, Helvetica, Verdana, Sans-Serif;
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 2px black;
}
.btn-starfarer {
    font-family: Sansation, Helvetica, Verdana, Sans-Serif;
    color: #fff;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-image: url("../img/ButtonBlueBars.png");
    background-size: 100% 100%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    min-width: 150px;
}
a.btn-starfarer:focus, a.btn-starfarer:hover {
    color: #fff;
}

/* Ownership */
.ownership {
    color:black;
    background-color: white;
    text-align: justify;
    max-width: unset;
    width: 100%;
    text-shadow: none;
    font-family: Sansation, Helvetica, Verdana, Sans-Serif;
    font-size: 16px;
    padding: 40px;
}

/* Benefits */
.benefits {
    color:black;
    background-color: #F9F9F9;
    text-align: justify;
    max-width: unset;
    width: 100%;
    text-shadow: none;
    font-family: Sansation, Helvetica, Verdana, Sans-Serif;
    padding: 40px;
}
.p-benefits {
    font-family: Sansation, Helvetica, Verdana, Sans-Serif;
    font-size: 14px;
}
.card-img-top {
    width: 100%;
}
.ben {
    display: block;
    margin: auto;
    height: 200px;
    width: auto !important;

}
.card {
    border: 2px solid black;
    margin-top: 20px;
}
.card:hover {
    border: 2px solid #9D2737;
}

/* Get Involved */
.involved {
    color:black;
    background-color: white;
    text-align: justify;
    max-width: unset;
    width: 100%;
    text-shadow: none;
    font-family: Sansation, Helvetica, Verdana, Sans-Serif;
    padding: 40px;
}
.involved-card {
    border: 10px solid #80DBFF;
}
.involved-card:hover {
    border: 10px solid #9D2737;
}
.btn-primary, .btn-primary:focus, .btn-primary:hover {
    background-color: #9D2737;
    border-color: #9D2737;
}

/* Fleet Events */
.events {
    min-height: 300px;
}

